*{
	box-sizing: border-box;
}

/* ----- General ----- */

body{
    height: 100%;
    min-width: 320px;
    margin-top: 0px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: auto;
    font-family: 'Open Sans', sans-serif;
}

ul{
    padding: 0px;
    list-style: none;
    margin: 0;
}


h1{
    font-size: 44px;
    color: #f5f0ed;
    text-align: center;
    border: 0px;
}

h2{
    font-size: 28px;
    text-align: center;
    color: #f5f0ed;
    margin: auto;
    border: 0px;
}

h3{
    font-size: 24px;
    text-align: center;
    border: 0px;
}

p{
    font-size: 16px;
    text-align: center;
    margin: auto;
    padding-top: 10px;
    border: 0px;
}

hr{
    border-bottom: 3px solid #f5f0ed;
    border-radius: 3px;
    width: 100px;
}

/* ----- Botones ----- */

a{
    font-size: 14px;
    color: #f5f0ed;
    text-decoration: none;
}

a:hover{
    color:#ded6c0;
    text-decoration: none;
}

.navegacion a{
    display: block;
    text-decoration: none;
}

.navegacion a:hover{
    text-decoration: none;
    color: #ded6c0;
}

.navegacion a{
    transition: 1s color;
}

.correo a{
    color: #d03b40;
    text-decoration: none;
}

.correo a:hover{
    color: #3c3c3b;
    text-decoration: none;
}

/* ----- Logo y Menú principal ----- */


.logo{
    float: left;
    width: 35%;
    padding: 20px;
}

.botonMenu{
    float: right;
    width: 63%;
    text-align: right;
    padding: 35px 20px;
}

li{
	display: inline-block;
    margin-right: 15px;
}

/* ----- Lanzador Menú ----- */

.lanzador-menu{
    text-decoration: none;
    font-size: 14px;
    color: #f5f0ed;
    padding: 6px 10px;
    background-color: #d03b40;
    border-radius: 3px;
}

/* ----- Cajas - Estructura ----- */


.contenedorPrimero{
    background-image: url(../images/fondo1.jpg);
    background-position: center;
    background-size: cover;
    min-height: 460px;
    color: #f5f0ed;
}

.recien{
    padding: 90px 70px;
}

.contenedorSegundo{
    padding: 0px;
    margin-bottom: 0px;
    overflow: hidden;
}

.float3{
    background-color: #d03b40;
    color: #ded6c0;
    min-height: 270px;
    padding: 20px 40px;
}

.float4{
    background-color: #ded6c0;
    color: #d03b40;
    min-height: 270px;
    padding: 20px 40px;
}

.tercero{
    background-image: url(../images/fondo2.jpg);
    background-position: center;
    background-size: cover;
    color: #f5f0ed;
    min-height: 460px;
    padding: 85px;
}

.caja{
	border: 4px solid #f5f0ed;
    margin: 20px;
    padding: 10px;
}

.contenedorCuarto{
    padding: 0px;
    margin-bottom: 20px;
    overflow: hidden;
}

.todoPan{
    overflow: hidden;
    background-color: #f5f0ed;
}

.par1Pan{
    overflow: hidden;
}

.pan1{
    padding: 50px 10px 10px 10px;
}

.pan1_1{
    width: 100px;
}

.textoPan1{
    color: #3c3c3b;
    text-align: center;
    margin-bottom: 20px;
    padding-left: 40px;
    padding-right: 40px;
}

.pan2{
    padding: 10px;
}

.pan2_1{
    width: 100px;
}

.textoPan2{
    color: #3c3c3b;
    text-align: center;
    margin-bottom: 20px;
    padding-left: 40px;
    padding-right: 40px;
}

.pan3{
    padding: 10px;
}

.pan3_1{
    width: 100px;
}

.textoPan3{
    color: #3c3c3b;
    text-align: center;
    margin-bottom: 20px;
    padding-left: 40px;
    padding-right: 40px;
}

.pan4{
    padding: 10px 10px 50px 10px;
}

.pan4_1{
    width: 100px;
}

.textoPan4{
    color: #3c3c3b;
    text-align: center;
    margin-bottom: 20px;
    padding-left: 40px;
    padding-right: 40px;
}

.par2Pan{
    overflow: hidden;
}

.contenedorQuinto{
    padding: 0px;
    overflow: hidden;
    margin-bottom: 0px;
}

.float9{
    background-color: #ded6c0;
    color: #d03b40;
    min-height: 270px;
    padding: 38px;
}

.float10{
    background-color: #d03b40;
    color: #ded6c0;
    min-height: 270px;
    padding: 38px;
}

.pleca{
    background-color: black;
    color: #f5f0ed;
    min-height: 100px;
    padding-top: 35px;
}


/* ----- Estilos en Media Queries ----- */

@media screen and (max-width: 660px){

    .js .navegacion{
        max-height: 0;
        overflow: hidden;
        transition: max-height .5s;
        position: absolute;
        top: 60px;
        left: 250px;
        right: 20px;
        text-align: right;
        background-color: #d03b40;
    }

    .js .navegacion a{
        padding: 14px 14px;
        color: #f5f0ed;
        transition: 1s color;
    }

    .js .navegacion a:hover{
        color: #f5f0ed;
    }

    .js .navegacion.menu-desplegado{
        max-height: 500px;
    }
}

@media screen and (min-width: 661px){

    .lanzador-menu{
        display: none;
    }

    .navegacion{
        float: right;
        width: 63%;
        color: #f5f0ed;
        text-align: right;
        padding: 35px 20px;
    }

    .navegacion li{
        display: inline-block;
        margin-right: 10px;
    }

    .float3{
        padding: 20px 60px;
    }

    .float4{
        padding: 20px 60px;
    }

    .recien{
        padding: 100px 90px 85px 90px;
    }

    .tercero{
        padding: 85px 120px 85px 120px;
    }

}

@media screen and (min-width:850px){

    .recien{
        padding: 100px 180px 85px 180px;
    }

    .float3{
        float: left;
        width: 50%;
    }

    .float4{
        float: right;
        width: 50%;
    }

    .tercero{
        padding: 85px 200px 85px 200px;
    }

    .float5{
        float: left;
        width: 50%;
    }

    .float6{
        float: right;
        width: 50%;
    }

    .pan1{
        padding: 50px 10px 30px 30px;
    }

    .pan2{
        padding: 50px 10px 30px 30px;
    }

    .float7{
        float: left;
        width: 50%;
    }

    .float8{
        float: right;
        width: 50%;
    }

    .pan3{
        padding: 30px 10px 30px 30px;
    }

    .pan4{
        padding: 30px 10px 30px 30px;
    }

    .float9{
        float: left;
        width: 50%;
    }

    .float10{
        float: right;
        width: 50%;
    }

}


@media screen and (min-width:1000px){

    .par1Pan{
        float: left;
        width: 50%;
    }

    .par2Pan{
        float: right;
        width: 50%;
    }

    .pan1{
        padding: 30px 10px 10px 10px;
    }

    .pan2{
        padding: 30px 10px 10px 10px;
    }

    .pan3{
        padding: 30px 10px 10px 10px;
    }

    .pan4{
        padding: 30px 10px 10px 10px;
    }

    .pan1_1{
        width: 120px;
    }

    .pan2_1{
        width: 120px;
    }

    .pan3_1{
        width: 120px;
    }

    .pan4_1{
        width: 120px;
    }

    .textoPan1{
        padding: 20px;
    }

    .textoPan2{
        padding: 20px;
    }

    .textoPan3{
        padding: 20px;
    }

    .textoPan4{
        padding: 20px;
    }

}