
/* Mi estructura */

/*
h1{
    color: rgba(255,0,0,0.4);
}
*/
.enfasis{
    color: green;
}

/*Estilos para enlaces*/
/*
a,a:visited{
    color: blue;
    text-decoration: none;
}

a:hover{
    text-decoration:underline;
}

a:active{
    color:orange;
}

a:focus{
    background-color: lightgrey;
}
*/
/*Control de displays*/
/*
.divPrincipal{
    background-color: blue;
    padding: 10px;
    margin-bottom: 30px;
    display: inline-block;
}

.primerspan{
    background-color: orange;
    padding: 10px;
    display: block;
}

.segundospan{
    background-color: orange;
    padding: 10px;
    display: block
}

.floats{
    background-color: yellow;
    border: 1px solid;
    overflow: hidden;
}

.parrafo{
    float:left;
    width: 50%;
}


ul{
    list-style-type: square;
}
*/
/*
body{
    background-image: url(imagenes/imagen.png);
    background-repeat: no-repeat;
    font-family: "Comic Sans MS", Helvetica, sans-serif;
}

div{
    background-color: antiquewhite;
    width: 200px;
    height:200px;
    margin:50px;
    display: inline-block;
}

.border1{
    border: 5px solid black;
}

.border2{
    border: 5px dashed black;
}

.border3{
    box-shadow: 5px 5px 10px black , -5px -5px 10px red;
}

.caja{
    background-image: url(imagenes/imagen.png);
    background-size: cover;
    background-repeat: no-repeat;
}
*/
.caja{
    background-image: url(imagenes/imagen.png);
    background-size: cover;
    background-repeat: no-repeat;
}
img{
    width: 100%;
}
div{
    background-color: antiquewhite;
    float: left;
    border: 4px solid white;
    padding: 20px;
}

.principal{
    width:60%;
    min-height:30em;
    background-image: url(imagenes/imagen.png);
    background-repeat: no-repeat;
}

.secundario{
    width:30%;
    min-height:30em;
    background-image: url(imagenes/imagen.png);
    background-repeat: no-repeat;
}

@media screen and (max-width: 800px){
    .principal,
    .secundario{
        width: 100%;
        float: none;
    }
}





















